
html {
  font-size: 16px; /* Base font size for rem units */
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #ece9e6, #ffffff); /* Subtle gradient from light gray to white */
  min-height: 100vh; /* Ensure gradient covers full height */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
